.visitors {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: white;
  min-height: 100%;
  margin: 0;

  &-dashboard-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: $gray-6;

    &-data-field {
      display: flex;
      flex-direction: column;
      width: 100px;
      height: 100px;
      background-color: $gray-2; // match good colors
      border-radius: 5px;

      &-value {
        font-size: 2rem;
        font-weight: 600;
      }
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 1.2rem;

    &--left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 0.4rem;
      padding-left: 0.5rem;
    }

    &--right {
      margin-right: 2rem;
      flex-grow: 1;
      display: flex;
      align-items: flex-start;
    }
  }

  &-body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem 2rem;
    align-items: flex-start;
    flex-grow: 1;
    min-width: 100%;
  }

  &-table {
    display: table;
    width: 100%;
    border-spacing: 0.5rem 1.5rem;

    &-head,
    &-body {
      display: flex;
      flex-direction: column;
      width: 600px;
      max-width: 100%;
    }

    &-row {
      display: table-row;
      transition: 0.5s border ease-in;
      width: 100%;
      padding: 1.5rem 0;
      cursor: pointer;

      &--head {
        font-weight: 600;
        font-size: 1.35rem;
      }

      &--head,
      &--data {
        display: table-cell;
        max-width: 25%;
        // padding: 1rem;
        color: $gray-3;
        text-transform: capitalize;
      }

      &--data {
        color: $gray-2;
      }

      &:hover {
        border: 1px solid $gray-2;
      }
    }
  }

  .visitors-table-row:not(.visitors-table-row:last-of-type) {
    border-bottom: 1px solid $gray;
  }

  &-frequent,
  &-all {
    margin: calc(100vw - 50%);

    &-text {
      width: 100%;
      background-color: $primary-color-faint-2;
      color: $gray-3;
      text-transform: uppercase;
      text-align: left;
      font-size: 1.1rem;
      padding: 1rem 0.2rem;
    }
  }


  // Visitor Details Page
  &-detail {
    margin: 1.2rem 2rem;

    &--header {
      display: flex;
      flex-direction: column;

      &-text {
        font-size: 2.2rem;
        padding: 0.2rem 1.2rem;
        border-bottom: 1px solid $gray-5;
      }

      &-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        padding: 0.2rem 1.2rem;
        border-bottom: 1px solid $gray-5;
      }
    }

    &--button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    &-history {
      display: flex;
      flex-direction: column;

      &-header-text {
        background-color: $primary-color-faint-2;
        color: $gray-3;
        width: 100%;
        letter-spacing: 3px;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      &-data {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        padding: 0.2rem 1.2rem;
        border-bottom: 1px solid $gray-5;
      }
    }
  }

  &-edit-button {
    color: $white;
    background-color: $green !important;
    transition: 0.2s background-color ease-in-out;
    cursor: pointer !important;

    &:hover {
      background-color: $green-hover;
      fill: $green-hover;
    }
  }
}

.new-visitor-form {
  display: flex;
  flex-direction: column;
  // gap: 2rem;
  margin: 1.2rem;
}

// Page only button
.add-new-visitor-button {
  width: 100%;
}