<div class="visitors">
    <button routerLink="/residents/visitors" class="button--has-icon button__icon">
        <img ngSrc="assets/images/svg/go-back.svg" width="20" height="20" alt="Go-back-icon" />
        Visitors
    </button>

    <h2 class="text-normal font-weight-bold">New Visitor</h2>

    <section class="new-visitor-form">
        <form>
            <div class="form-group">
                <label class="text-normal" for="name">Name</label>
                <input id="name" class="form-control" placeholder="Enter Visitors' Name" />
            </div>

            <div class="form-group">
                <label class="text-normal" for="number">Phone number</label>
                <input id="number" class="form-control" placeholder="Enter Visitors' Phone Number" />
            </div>

            <label for="generate-passcode" class="form-check-label">
                <input type="checkbox" id="generate-passcode" name="generate-passcode" [value]="" />
            </label>
        </form>
    </section>
</div>