<nav class="nav-container">
      <ul class="nav-menu">
            <li class="nav-item"><a routerLink="/residents/visitors"><img class="nav-item--img"
                              ngSrc="assets/images/svg/Visitors.svg" width="30" height="30"
                              style="width: auto; height: auto" alt="Visitors" /></a></li>

            <li class="nav-item"><a routerLink="/residents/notifications"><img class="nav-item--img"
                              ngSrc="assets/images/svg/Notification.svg" width="30" height="30"
                              style="width: auto; height: auto" alt="Notifications" /></a>
            </li>

            <li class="nav-item"><a routerLink="/residents/profile"><img class="nav-item--img"
                              ngSrc="assets/images/svg/Profile.svg" width="30" height="30"
                              style="width: auto; height: auto" alt="Profile" /></a></li>
      </ul>
</nav>