<nav class="nav-container">
  <ul class="nav-menu">
    <li class="nav-item"><a routerLink="/residents/visitors"><img class="nav-item--img" width="30" height="30"
          ngSrc="assets/images/svg/Visitors.svg" alt="Visitors" /></a></li>

    <li class="nav-item"><a routerLink="/residents/notifications"><img class="nav-item--img" width="30" height="30"
          ngSrc="assets/images/svg/Notification.svg" alt="Notifications" /></a></li>

    <li class="nav-item"><a routerLink="/residents/profile"><img class="nav-item--img" width="30" height="30"
          ngSrc="assets/images/svg/Profile.svg" alt="Profile" /></a></li>
  </ul>
</nav>