<div class="visitors">
    <button routerLink="/residents/visitors" class="button button--has-icon align-self-start">
        <img ngSrc="assets/images/svg/go-back.svg" width="20" height="20" alt="Go-back-icon" />
        <span class="button-text text-primary">Visitors</span>
    </button>

    <section class="visitors-detail">

        <section class="visitors-detail--header">
            <!-- <h2 class="visitors-detail--header-text">{{routeParam.visitorFirstName}} {{routeParam.visitorLastName}}</h2>

            <div class="visitors-detail--header-data">
                <p class="visitors-detail--header-number">{{routeParam.visitorPhoneNumber}}</p>
                <p class="visitors-detail--header-visits">{{routeParam.visitorVisitCount}}</p>
                <p class="visitors-detail--header-visits">{{routeParam.visitorStatus}}</p>
            </div> -->
        </section>

        <div class="visitors-detail--button-group">
            <button (click)="null" class="button button--primary">Generate Passcode</button>
            <button (click)="null" class="button button--primary button--outline">Edit Details</button>
        </div>

        <section class="visitors-detail-history">
            <p class="visitors-detail-history-header-text">
                History
            </p>

            <div class="visitors-detail-history-data">
                <p class="status"></p>
                <p class="date time"></p>
            </div>
        </section>

    </section>
</div>