<div class="visitors">

  <section class="visitors-dashboard">
    <div class="visitors-dashboard-data"></div>
    <div class="visitors-dashboard-data"></div>
    <div class="visitors-dashboard-data"></div>
  </section>

  <header class="visitors-header">

    <div class="visitors-header--left">
      <h2 class="">Visitors <span class="text-muted font-weight-light">{{null}}</span></h2>
      <div class="form-control-search">
        <label class="label" for="visitor-search">
          <img ngSrc="assets/images/svg/search.svg" width="20" height="20" alt="Search-Icon">
        </label>
        <input class="input" type="search" id="visitor-search" placeholder="Search">
      </div>
    </div>

    <div class="visitors-header--right">
      <button routerLink="/residents/new-visitor"
        class="button--link button--has-icon add-new-visitor-button flex-justify-end">New Visitor <img
          ngSrc="assets/images/svg/add-new-visitor.svg" width="20" priority="" height="20" alt="Plus Button"></button>
    </div>
  </header>

  <main class="visitors-body">

    <div class="visitors-table table">

      <div class="visitors-body-frequent">
        <p class="visitors-body-frequent-text">Frequent
          Visitors</p>
      </div>

      <div class="visitors-table-row table-head">

        <div class="visitors-table-row--head">Photo</div>
        <div class="visitors-table-row--head">Firstname</div>
        <div class="visitors-table-row--head">Lastname</div>
        <div class="visitors-table-row--head">Date Added</div>
      </div>


      <div class="visitors-table-row table-body" routerLink="" *ngFor="let visitors of visitorList">

        <div class="visitors-table-row--data">{{visitors.firstName}}</div>
        <div class="visitors-table-row--data">{{visitors.lastName}}</div>
        <div class="visitors-table-row--data">{{visitors.dateAdded}}</div>
      </div>
    </div>

    <div class="visitors-table table">

      <div class="visitors-body-all">
        <p class="visitors-body-all-text">All
          Visitors</p>
      </div>

      <div class="visitors-table-row table-head">
        <div class="visitors-table-row--head">Photo</div>
        <div class="visitors-table-row--head">Firstname</div>
        <div class="visitors-table-row--head">Lastname</div>
        <div class="visitors-table-row--head">Date Added</div>
      </div>

      <div class="visitors-table-row table-body" [routerLink]="['/residents/visitors-details', visitors.firstName]"
        *ngFor="let visitors of visitorList">

        <div class="visitors-table-row--data">{{visitors.firstName}}</div>
        <div class="visitors-table-row--data">{{visitors.lastName}}</div>
        <div class="visitors-table-row--data">{{visitors.dateAdded}}</div>
      </div>

    </div>
  </main>

</div>